Thumbs.db
*.onetoc?
Makefile
*/Makefile
*.obj
*.[eE][xX][eE]
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.bat
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.pl
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.orig
*.aps
*.wjf
*.INH
*.INP
*.LST
*.INI
*.sln
*.vfproj
*.u2d
*.OUT
*.o
*.mod
*.ico
.DS_Store
Data/.DS_Store
build/
nbproject/
.metadata/
.project
.cproject
Makefile
cluster.patch
readme*
CMakeFiles/
CMakeCache.txt
.history/*
Resources/R*
src/main.f90
ford.md
/.vs/SWAT_PLUS_DEV
/.vscode
/.vs/github/config
/.vs/github/FileContentIndex
/.vs/github/v17
/.vs/launch.vs.json
/.vs/VSWorkspaceState.json
/.vs/cmake.db
/.vs/slnx.sqlite
/.vs
/data/Osu_1hru/lsunit_ls_aa.txt
/data/Osu_1hru/lsunit_nb_aa.txt
/data/Osu_1hru/lsunit_pw_aa.txt
/data/Osu_1hru/lsunit_wb_aa.txt
/data/Osu_1hru/lu_change_out.txt
/data/Osu_1hru/recall_aa.txt
/data/Osu_1hru/reservoir_sed.txt
/data/Osu_1hru/wetland_aa.txt
/data/Osu_1hru/sd_chanbud_aa.txt
/data/Osu_1hru/ru_aa.txt
/data/Osu_1hru/hydin_aa.txt
/data/Osu_1hru/hru_wb_aa.txt
/data/Osu_1hru/hru_pw_aa.txt
/data/Osu_1hru/hru_rescarb_aa.txt
/data/Osu_1hru/hru_scf_aa.txt
/data/Osu_1hru/hru_soilcarb_aa.txt
/data/Osu_1hru/hru_totc.txt
/data/Osu_1hru/hru_ls_aa.txt
/data/Osu_1hru/hru_nb_aa.txt
/data/Osu_1hru/hru_ncycle_aa.txt
/data/Osu_1hru/hru_nut_carb_gl_aa.txt
/data/Osu_1hru/hru_orgc.txt
/data/Osu_1hru/hru_plcarb_aa.txt
/data/Osu_1hru/deposition_aa.txt
/data/Osu_1hru/channel_sdmorph_aa.txt
/data/Osu_1hru/channel_sd_aa.txt
/data/Osu_1hru/channel_sd_day.txt
/data/Osu_1hru/basin_aqu_aa.txt
/data/Osu_1hru/basin_carbon_all.txt
/data/Osu_1hru/basin_cha_aa.txt
/data/Osu_1hru/basin_crop_yld_aa.txt
/data/Osu_1hru/basin_crop_yld_yr.txt
/data/Osu_1hru/basin_ls_aa.txt
/data/Osu_1hru/basin_nb_aa.txt
/data/Osu_1hru/basin_psc_aa.txt
/data/Osu_1hru/basin_pw_aa.txt
/data/Osu_1hru/basin_res_aa.txt
/data/Osu_1hru/basin_sd_chamorph_aa.txt
/data/Osu_1hru/basin_sd_chanbud_aa.txt
/data/Osu_1hru/basin_sd_cha_aa.txt
/data/Osu_1hru/basin_totc.txt
/data/Osu_1hru/basin_wb_aa.txt
/data/Osu_1hru/basin_wb_yr.txt
/data/Osu_1hru/aquifer_aa.txt
[Tt]mp/
